
body {
    background-color: rgb(22, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 30%; 
    background-color: #333;
    padding: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
}
img{
    width: 40px;
}
.navbar a:hover{
    color: red;
    border-bottom: 2px solid red;
    transform: translateY(5px);
}
.navbar a:nth-child(-n+3):hover {
    transform: translateX(-5px);
}
.navbar a:last-child{
    border-bottom: none;
    
}

